@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efecec;
  background-image: linear-gradient(315deg, #8daef5 0%, #f77f75 74%);
  height: 100%;
  background-position: center;
  background-size: cover ;
  font-family: 'Work Sans', sans-serif !important;
  

}

.app-box {
  display: block;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  min-height: 80vh;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 25px 5px #111;
  animation: fadeIn 4s ease-out;
}

.menu-logo{
  margin-top: 2rem;
  text-transform: uppercase;
}

.menu-nav-items {
  list-style: none;
}

.menu-nav-items li {
  
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none !important;
}
